<div class="container">
  <h2>CDK</h2>
  <div>
    <p class="title">accessibility</p>
    <app-accessibility></app-accessibility>
    <hr />
  </div>
  <div>
    <p class="title">accordion</p>
    <app-accordion></app-accordion>
    <hr />
  </div>
  <div>
    <p class="title">bidirectionality</p>
    <app-bidirectionality></app-bidirectionality>
    <hr />
  </div>
  <div>
    <p class="title">clipboard</p>
    <app-clipboard></app-clipboard>
    <hr />
  </div>
  <div>
    <p class="title">coercion</p>
    <app-coercion></app-coercion>
    <hr />
  </div>
  <div>
    <p class="title">collections</p>
    <app-collections></app-collections>
    <hr />
  </div>
  <div>
    <p class="title">component-test-harnesses</p>
    <app-component-test-harnesses></app-component-test-harnesses>
    <hr />
  </div>
  <div>
    <p class="title">data-table</p>
    <app-data-table></app-data-table>
    <hr />
  </div>
  <div>
    <p class="title">dialog</p>
    <app-dialog></app-dialog>
    <hr />
  </div>
  <div>
    <p class="title">drag-drop</p>
    <app-drag-drop></app-drag-drop>
    <hr />
  </div>
  <div>
    <p class="title">layout</p>
    <app-layout></app-layout>
    <hr />
  </div>
  <div>
    <p class="title">listbox</p>
    <app-listbox></app-listbox>
    <hr />
  </div>
  <div>
    <p class="title">menu</p>
    <app-menu></app-menu>
    <hr />
  </div>
  <div>
    <p class="title">observers</p>
    <app-observers></app-observers>
    <hr />
  </div>
  <div>
    <p class="title">overlay</p>
    <app-overlay></app-overlay>
    <hr />
  </div>
  <div>
    <p class="title">platform</p>
    <app-platform></app-platform>
    <hr />
  </div>
  <div>
    <p class="title">portals</p>
    <app-portals></app-portals>
    <hr />
  </div>
  <div>
    <p class="title">scrolling</p>
    <app-scrolling></app-scrolling>
    <hr />
  </div>
  <div>
    <p class="title">stepper</p>
    <app-stepper></app-stepper>
    <hr />
  </div>
  <div>
    <p class="title">text-field</p>
    <app-text-field></app-text-field>
    <hr />
  </div>
  <div>
    <p class="title">tree</p>
    <app-tree></app-tree>
    <hr />
  </div>
</div>
