
.container {
  display: flex;
  flex-direction: row;


}

.sidebar {
  width: 200px;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;

  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin: 10px 0;
      cursor: pointer;
      color: #007bff;

      &:hover {
        text-decoration: underline;
      }
    }
  } 
}

.router-outlet {
  background-color: darkgrey;
  width: 100%;
  height: auto;
}