<div class="container">
  <h2>Components</h2>
  <div>
    <p class="title">Autocomplete</p>
    <app-autocomplete></app-autocomplete>
    <hr />
  </div>
  <div>
    <p class="title">Badge</p>
    <app-badge></app-badge>
    <hr />
  </div>
  <div>
    <p class="title">Bottom Sheet</p>
    <app-bottom-sheet></app-bottom-sheet>
    <hr />
  </div>
  <div>
    <p class="title">Button</p>
    <app-button></app-button>
    <hr />
  </div>
  <div>
    <p class="title">Button Toggle</p>
    <app-button-toggle></app-button-toggle>
    <hr />
  </div>
  <div>
    <p class="title">Card</p>
    <app-card></app-card>
    <hr />
  </div>
  <div>
    <p class="title">Checkbox</p>
    <app-checkbox></app-checkbox>
    <hr />
  </div>
  <div>
    <p class="title">Chips</p>
    <app-chips></app-chips>
    <hr />
  </div>
  <div>
    <p class="title">Core</p>
    <app-core></app-core>
    <hr />
  </div>
  <div>
    <p class="title">Datepicker</p>
    <app-datepicker></app-datepicker>
    <hr />
  </div>
  <div>
    <p class="title">Dialog</p>
    <app-dialog></app-dialog>
    <hr />
  </div>
  <div>
    <p class="title">Divider</p>
    <app-divider></app-divider>
    <hr />
  </div>
  <div>
    <p class="title">Expansion panel</p>
    <app-expansion-panel></app-expansion-panel>
    <hr />
  </div>
  <div>
    <p class="title">Form field</p>
    <app-form-field></app-form-field>
    <hr />
  </div>
  <div>
    <p class="title">Grid list</p>
    <app-grid-list></app-grid-list>
    <hr />
  </div>
  <div>
    <p class="title">Icon</p>
    <app-icon></app-icon>
    <hr />
  </div>
  <div>
    <p class="title">Input</p>
    <app-input></app-input>
    <hr />
  </div>
  <div>
    <p class="title">List</p>
    <app-list></app-list>
    <hr />
  </div>
  <div>
    <p class="title">Menu</p>
    <app-menu></app-menu>
    <hr />
  </div>
  <div>
    <p class="title">Paginator</p>
    <app-paginator></app-paginator>
    <hr />
  </div>
  <div>
    <p class="title">Progress-bar</p>
    <app-progress-bar></app-progress-bar>
    <hr />
  </div>
  <div>
    <p class="title">Progress-spinner</p>
    <app-progress-spinner></app-progress-spinner>
    <hr />
  </div>
  <div>
    <p class="title">Radio-button</p>
    <app-radio-button></app-radio-button>
    <hr />
  </div>
  <div>
    <p class="title">Ripple</p>
    <app-ripple></app-ripple>
    <hr />
  </div>
  <div>
    <p class="title">Select</p>
    <app-select></app-select>
    <hr />
  </div>
  <div>
    <p class="title">Sidenav</p>
    <app-sidenav></app-sidenav>
    <hr />
  </div>
  <div>
    <p class="title">Slide-toggle</p>
    <app-slide-toggle></app-slide-toggle>
    <hr />
  </div>
  <div>
    <p class="title">Slider</p>
    <app-slider></app-slider>
    <hr />
  </div>
  <div>
    <p class="title">Snackbar</p>
    <app-snack-bar></app-snack-bar>
    <hr />
  </div>
  <div>
    <p class="title">Sort Header</p>
    <app-sort-header></app-sort-header>
    <hr />
  </div>
  <div>
    <p class="title">Stepper</p>
    <app-stepper></app-stepper>
    <hr />
  </div>
  <div>
    <p class="title">Table</p>
    <app-table></app-table>
    <hr />
  </div>
  <div>
    <p class="title">Tabs</p>
    <app-tabs></app-tabs>
    <hr />
  </div>
  <div>
    <p class="title">Time Picker</p>
    <app-time-picker></app-time-picker>
    <hr />
  </div>
  <div>
    <p class="title">Toolbar</p>
    <app-tool-bar></app-tool-bar>
    <hr />
  </div>
  <div>
    <p class="title">Tooltip</p>
    <app-tooltip></app-tooltip>
    <hr />
  </div>
  <div>
    <p class="title">Tree</p>
    <app-tree></app-tree>
    <hr />
  </div>
</div>
