<div class="container">
  <h2>Components</h2>

  <div>
    <p>Autocomplete</p>
    <app-autocomplete></app-autocomplete>
  </div>
  <div>
    <p>Badge</p>
  </div>
  <div>
    <p>Button</p>
  </div>
  <div>
    <p>Button Toggle</p>
  </div>
    <div>
    <p>card</p>
  </div>
      <div>
    <p>checkbox</p>
  </div>
   <div>
    <p>Chips</p>
  </div>
  <div>
    <p>Core</p>
  </div>
   <div>
    <p>datepicker </p>
  </div>
  <div>
    <p>Dialog</p>
  </div>
  <div>
    <p>divider</p>
  </div>
  <div>
    <p>expansion panel</p>
  </div>
  <div>
    <p>form field</p>
  </div>
  <div>
    <p>grid list/p>
  </div>
  <div>
    <p>icon </p>
  </div>
   <div>
    <p>Input</p>
  </div>
  <div>
    <p>list</p>
  </div>
  <div>
    <p>menu</p>
  </div>
  <div>
    <p>paginator</p>
  </div>
  <div>
    <p>progress-bar</p>
  </div>
   <div>
    <p>progress-spinner</p>
  </div>
  <div>
    <p>radio-button</p>
  </div>
   <div>
    <p>Ripple</p>
  </div>
  <div>
    <p>select</p>
  </div>
  <div>
    <p>sidenav</p>
  </div>
  <div>
    <p>slide-toggle</p>
  </div>
  <div>
    <p>slider</p>
  </div>
</div>
